@mixin hyperlink(){
    text-decoration: none !important;
    list-style-type: none !important;
    cursor: pointer;
}

@mixin onFocus(){
    &:focus{
        box-shadow: none !important;
        outline: none !important;
    }
}
