@import "default";
@import "mixins";
@import "variables";

.outline-button{
    @include onFocus();
}

.navigate{
    a{
        @include hyperlink();
        &:hover{
            color:  $shadeOfBlue !important;
        }
    }
}

#main-nav{
    background-color: #fefeff;
    .navbar-brand{
        color: $shadeOfBlue;
    }
    .navbar-toggler{
        @include onFocus();
        &:hover{
            background-color: #f5f5fa;
        }
    }
}

.active{
    color:  $shadeOfBlue !important;
    &:hover{
        border-bottom: none;
        color: $shadeOfVioletOne;
    }
}

#navbarNavDropdown{
    .nav-link{
        font-size: 16px;
        &:hover{
            color:  $shadeOfBlue !important;
        }
    }
}


/* Introduction Section */
#intro_section{
    margin-top: 250px;

    h1{
        font-weight: bold;
    }

    #intro_name{
        color:  $shadeOfBlue;
    }

    .outline-button{
        color:  $shadeOfBlue;
        border: 1px solid  $shadeOfBlue;
        &:hover{
            color: #ffff;
            background-color: $shadeOfVioletTwo;
            border: 1px solid $shadeOfVioletTwo;
        }
    }

    .intro_image{
        width: 90%;
        clip-path: circle(50% at center);
    }
}


/* About Section */
#about{
    img{
        border-radius: 5%;
    }

    .about-button{
        background-color: $shadeOfVioletOne;
        border: 1px solid $shadeOfVioletOne;
        @include onFocus();
        &:hover{
            background-color: $shadeOfVioletThree;
            border: 1px solid $shadeOfVioletThree;
        }
    }

    .horizontal-line{
        border-top: 1px solid $shadeOfVioletOne;
    } 

    .vertical-line{
        border-right: 1px solid $shadeOfVioletOne;
        height: 100px;
        position: relative;
        left: -50%;
        right: 50%;
    }
}

/* Services */
#services{
    .services_icon{
        width: 50px;
    }
}


/* portfolio section */
#portfolio{

    #portfolio_stacks{
        .stack{
            position: relative;
            transition: height 0.3s ease-in-out;

            &:hover{
                img{
                    cursor: pointer;
                }

                .description{
                    animation: overlay 1s ease-in-out 1 normal;
                    transition: height 0.3s ease-in-out;
                    background-color: $shadeOfVioletThree;
                    display: block;
                    height: 100%;
                    h3, p{
                        position: absolute;
                        top: 40%;
                        left: 0%;
                        right: 0%;
                    }
                }
        }

        .description{
            position: absolute;
            top: 0%;
            left: 0%;
            right: 0%;
            display: none;
        }
    }

    }

    @keyframes overlay {
        from{
            height: 0%;
            transition: height 0.3s ease-in-out;
        }
        to{
            height: 100%;
            transition: height 0.3s ease-in-out;
        }
    }
}


/* Contact Section */
#form{
    input, textarea{
        @include onFocus();
    }

    #success-message{
        display: none;
    }

    button{
        background-color: $shadeOfVioletOne !important;
        @include onFocus();
        border: none;
        &:hover{
            opacity: 0.9;
            scale: 0.99;
        }
    }
}

/* Footer */
footer{
    background-color: $shadeOfVioletThree;
    a{
        &:hover{
            color:  #ffff !important;
        }
    } 

    .the-socials{
        a{
            &:hover{
                color: rgba(32, 32, 32, 1) !important;
            }
            
        }
    }
}

/* MEDIA QUERIES */
@import "mediaQueries";
