@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    scroll-behavior: smooth; 
}

.navigate a{
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

.navigate a:hover{
    color: #2C1EDC !important;
}

#main-nav{
    background-color: #fefeff;
}

#main-nav .navbar-brand{
    color: #2C1EDC;
}

#main-nav .navbar-toggler:focus{
    box-shadow: none;
}

#main-nav .navbar-toggler:hover{
    background-color: #f5f5fa;
}

.active{
    color: #2C1EDC !important;
}
.active:hover{
    border-bottom: none;
    color: #564dcc;
}

#navbarNavDropdown .nav-link{
    font-size: 16px;
}

#navbarNavDropdown .nav-link:hover{
    color: #2C1EDC !important;
}

/* Introduction Section */
#intro_section{
    margin-top: 250px;
}

#intro_section h1{
    font-weight: bold;
}
#intro_name{
    color: #2C1EDC;
}

.outline-button{
    color: #2C1EDC;
    border: 1px solid #2C1EDC;
}

.outline-button:hover{
    color: #ffff;
    background-color: #4e44d3;
    border: 1px solid #4e44d3
}

.intro_image{
    width: 90%;
}

/* About Section */
.about-button{
    background-color: #5C53D8;
    border: 1px solid #5C53D8;
}

.about-button:hover{
    background-color: #6e66e9;
    border: 1px solid #6e66e9;
}

.horizontal-line{
    border-top: 1px solid #564dcc;
} 

.vertical-line{
    border-right: 1px solid #564dcc;
    height: 100px;
    position: relative;
    left: -50%;
    right: 50%;
}

/* Services */

.services_icon{
    width: 50px;
}

.service-box{
    transition: all 0.8s ease-in-out;
    transform: scale(1);
}

.service-box:hover{
    transition: all 0.8s ease-in-out;
    transform: scale(1.1);
    background-color: #ececec;
}

/* portfolio section */

#portfolio_stacks .row .stack{
    position: relative;
    transition: all 0.3s ease-in-out;
}

#portfolio_stacks .row .description{
    position: absolute;
    top: 40%;
    left: 0%;
    right: 0%;
    display: none;
}

#portfolio_stacks .row .stack:hover img{
    filter: blur(5px);
    transition: all 0.4s ease-in-out;
}

#portfolio_stacks .row .stack:hover .description{
    display: block;
}


/* Contact Section */
#form input:focus, #form textarea:focus{
    box-shadow: none;
}

#form #success-message{
    display: none;
}

/* Footer */
footer a:hover{
    color: #2C1EDC !important;
}

/* MEDIA QUERIES */
/* Setting responsiveness when width reaches 765 or less */
@media  screen and (max-width : 765px) {
    /* Intro section */
    #intro_section{
        margin-top: 170px;
    }

    .intro_image{
        width: 70%;
        margin-top: 70px;
    }

    #typing_text{
        font-size: 20px !important;
    }

    /* About Section */
    #about_profile{
        margin-top: 50px;
    }

    .about_me{
        font-size: 14px !important;
    }
}